@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";

.my-tile {
    
}

.my-tile-background-1 {
    background: #fafafa;
}

.my-tile-background-2 {
    background: #f0f0f0;
}

.my-tile-skill {
    padding-bottom: 2em;
}

.my-tile-skill h2 {
    margin: 0 10px; 
    border-bottom: 1px grey solid;
}

.my-tile-parent {
    margin: 5px 5px 0px 5px !important;
    padding: 0 !important;
}

.my-tile-wrapper {
    margin: 0px 3px !important;
    box-shadow: 1px 1px 4px grey;
    border: 1px solid grey;
    border-radius: 3px;
}

.my-tile figure {
    width: 120px;
    height: 120px;
    margin: auto;
}




.my-tile p {
    font-size: 0.6em;
}
