@import "./variable.sass";
@import "node_modules/bulma/bulma.sass";
@import "font-awesome/scss/font-awesome.scss";

.my-tile {
    box-shadow: 1px 1px 4px grey;
    border: 1px solid grey;
    border-radius: 3px;
    // background-color: red;
}

.my-tile figure {
    width: 120px;
    height: 120px;
    margin: auto;
}




.my-tile p {
    font-size: 0.6em;
}
